@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
  .layout__nav {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--color-primary-a-2);
    pointer-events: none;
  }

  .nav__list {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    height: 100%;
  }

  .nav__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .layout__home {
    margin-top: 90px;
  }

  .page__title-container {
    margin-top: 4rem;
  }

  .page__title-text {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .about__container {
    width: 100%;
    height: 100%;
    padding: 5rem 1rem;
  }

  .about__content {
    flex-direction: column;
  }

  .information__container {
    padding: 5rem 1rem;
  }

  .information__document {
    padding: 4rem 1rem;
  }

  .layout__footer {
    flex-direction: column;
    height: 650px;
  }

  .footer__left {
    margin-bottom: 0;
    padding: 5rem 2rem;
  }

  .footer__right {
    padding: 5rem 2rem;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__right-container {
    margin-bottom: 5rem;
  }

  .canvas__configuration {
    top: -570px;
  }
}

@media (max-width: 768px) {
  .home__description {
    font-size: 3.5rem;
  }

  .nebula {
    font-size: 5rem;
  }

  .nebula__shadow {
    font-size: 5rem;
  }

  .home__article {
    padding: 0rem 1rem;
  }
}

@media (max-width: 520px) {
  .home__description {
    font-size: 3rem;
  }

  .nebula {
    font-size: 4rem;
  }

  .nebula__shadow {
    font-size: 4rem;
  }
}
