@font-face {
  font-family: "NouvelR";
  src: url("../fonts/NouvelR-Regular.woff2");
}

@font-face {
  font-family: "Space";
  src: url("../fonts/space_ranger/spaceranger.ttf");
}

@font-face {
  font-family: "Galactic";
  src: url("../fonts/Galactic-Vanguardian.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  /* SEGUNDA PRUEBA DE COLORES */
  --color-nodes: #000000ec;
  /* --color-primary: #151424; */
  /* --color-primary-a: #15142465; */
  --color-secondary: #106ad2;
  --color-secondary-a: #106ad265;
  --color-terciary: #a32cdf;
  --color-terciary-a: #a32cdf65;
  --color-terciary-1: #a32cdf;
  --color-terciary-2: #a32cdf;
  --color-terciary-3: #302794;
  --color-text: #eaeaf6;
  --color-text-a: #eaeaf665;
  --color-subtitle: #d5d5e0;
  --color-description: rgb(95, 95, 95);
  --bg-container: #eaeaf665;
  --color-error: red;
  --color-error-a: rgba(255, 0, 0, 0.55);
  --color-input-focus: #4218b8d0;
  --color-bingo-cell: #dae2f7;
  --color-bingo-text: #3073cd;
  --color-circle-inside: #6a6877;
  --color-primary: #000000;
  --color-primary-a: #00000065;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "NouvelR", Arial, Helvetica, sans-serif;
}

.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: var(--color-primary);
}

.layout__modal {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 2000ms ease-out;
  opacity: 0;
}

.layout__modal--show {
  opacity: 1;
}

.canvas__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
  padding-top: 90px;
  opacity: 1;
  transition: all 5000ms ease-in-out;
}

.canvas__background--hidden {
  opacity: 0;
}

.canvas__lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  pointer-events: none;
  padding-top: 90px;
  opacity: 1;
  transition: all 5000ms ease-in-out;
}

.canvas__lines--hidden {
  opacity: 0;
}

.layout::after {
  position: absolute;
  margin-top: 90px;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--color-terciary) 1px, transparent 2px);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 400px 400px;
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
  animation: moveStarsLeft 220s linear infinite,
    blinkStars 10s ease-in-out infinite;
}

.layout::before {
  position: absolute;
  margin-top: 90px;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--color-text) 0.5px, transparent 1px);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 300px 300px;
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
  animation: moveStarsDown 240s linear infinite,
    blinkStars 10s ease-in-out infinite;
}

.layout__light {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: var(--color-terciary);
  background: linear-gradient(
    45deg,
    var(--color-terciary-a) 0%,
    transparent 30%
  );
  filter: blur(50px);
}

.layout__light::after {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  content: "";
  background-color: var(--color-terciary);
  background: linear-gradient(
    225deg,
    var(--color-secondary-a) 0%,
    transparent 25%
  );
  filter: blur(50px);
}

@keyframes blinkStars {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes moveStarsLeft {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -875px 800px;
  }
  50% {
    background-position: 1000px 500px;
  }
  75% {
    background-position: -875px 800px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes moveStarsDown {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 900px -1000px;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes textAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-90deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

/* ESTILOS NAV */
.layout__nav {
  font-family: "NouvelR", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 99;
  width: 100%;
  height: 90px;
  background-color: var(--color-secondary-a);
  background-color: transparent;
  border-bottom: solid 2px var(--color-secondary-a);
  transition: all 5000ms ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.layout__nav--hidden {
  opacity: 0;
  pointer-events: none;
}

.nav__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav__logo {
  font-size: 2rem;
  color: var(--color-text);
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 0.5rem;
}

.nav__item {
  transition: all 300ms ease-in-out;
  position: relative;
}

.nav__item::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0;
  background-color: var(--color-text);
  width: 0%;
  height: 2px;
  transition: all 300ms ease-in-out;
  opacity: 0.75;
}

.nav__item::before {
  position: absolute;
  content: "";
  bottom: 10px;
  right: 0;
  background-color: var(--color-text);
  width: 0%;
  height: 2px;
  transition: all 300ms ease-in-out;
  opacity: 0.75;
}

.nav__item:hover::before {
  opacity: 1;
  width: 100%;
}

.nav__item:hover::after {
  opacity: 1;
  width: 100%;
}

.nav__item:hover .nav__link {
  text-shadow: 0px 0px 5px var(--color-text);
}

.nav__link {
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.nav__icon {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
  fill: var(--color-text);
}

/* ESTILOS HOME */
.layout__home,
.layout__account,
.layout__contact,
.layout__concurso,
.layout__information,
.layout__cars {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 90px);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.home__explore {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem 0rem;
}

.home__explore-icon {
  width: 40px;
  height: 40px;
  fill: var(--color-text);
  opacity: 0;
  transition: all 600ms ease-in-out;
  margin-bottom: 1rem;
}

@keyframes exploreIconAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home__explore-icon--show {
  opacity: 1;
  animation: exploreIconAnimation 1s ease-in-out infinite;
}

.home__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  height: calc(100vh);
  opacity: 1;
  transition: all 2000ms ease-in-out;
  pointer-events: none;
}

.home__video-container--hidden {
  opacity: 0;
}

.home__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.home__video-container::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: var(--color-primary-a);
  z-index: 99;
}

.home__article-title {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 4rem;
  color: var(--color-text);
  text-align: center;
  position: relative;
  z-index: 1;
}

.home__article {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  position: relative;
}

.waves {
  position: absolute;
  bottom: 0px;
  left: -20%;
  width: 150%;
  min-height: 100px;
  max-height: 150px;
  z-index: -1;
  filter: blur(40px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.parallax > use {
  animation: animationWave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes animationWave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.home__square {
  position: absolute;
  width: 400px;
  height: 400px;
  border: dashed 50px var(--color-secondary-a);
  transform: rotate(45deg);
  animation: squareRotation 60s linear infinite;
  box-shadow: 0px 0px 20px 5px var(--color-secondary-a);
  opacity: 0.7;
}

@keyframes squareRotation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.home__circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: solid 2px var(--color-secondary-a);
  border-radius: 300px;
  box-shadow: 0px 0px 20px 5px var(--color-secondary-a);
}

.home__title {
  width: 100%;
  font-size: 3rem;
  color: var(--color-text);
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "Galactic";
  font-weight: lighter;
  color: var(--color-subtitle);
  text-shadow: 0px 0px 10px var(--color-text);
  opacity: 0;
  transition: all 2000ms ease-in-out;
}

.home__title--show {
  opacity: 1;
}

.home__description {
  display: inline;
  width: 100%;
  font-size: 5.2rem;
  color: var(--color-text);
  flex-basis: 70%;
  text-align: center;
  position: relative;
  font-family: "Galactic";
  text-shadow: 0px 0px 10px var(--color-text);
}

.nebula {
  margin-left: 1rem;
  position: relative;
  font-size: 8rem;
  font-family: "Space", Arial, Helvetica, sans-serif;
  color: transparent;
  z-index: -1;
  text-shadow: 0px 0px 10px var(--color-text);
  opacity: 0.4;
}

.nebula__shadow {
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-terciary)
  );
  color: black;

  background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home__img-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: homeImgAnimation 1500ms ease-in-out;
  opacity: 0.4;
}

@keyframes homeImgAnimation {
  0% {
    opacity: 0;
    transform: translate(50%, 50%);
  }
  100% {
    opacity: 0.4;
    transform: translate(0%, 0%);
  }
}

.home__img {
  width: 80%;
  max-width: 1080px;
}

/* ESTILOS CONCURSO */
.concurso__article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bingo__tabla {
  height: 100%;
  border-collapse: collapse;
}

.bingo__tabla-cell {
  border: solid 2px var(--color-bingo-text);
  width: 80px;
  height: 80px;
  font-size: 4.5rem;
  text-align: center;
  color: var(--color-bingo-text);
  background-color: var(--color-text);
}

.cell-hl {
  background-color: var(--color-bingo-cell);
}

/* ESTILOS INFORMACION */
.information__container {
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.information__article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information__document {
  padding: 4rem;
}

.information__text {
  font-size: 1.8rem;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}

.information__text-final {
  margin-top: 4rem;
}

.information__point {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--color-text);
  padding: 1rem 1rem 1rem 0rem;
  background-color: var(--color-secondary-a);
  width: auto;
  display: inline-block;
}

.information__number {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 1rem;
  margin-right: 1rem;
}

.information__subpoint {
  color: var(--color-text);
  font-weight: bold;
  position: relative;
  background-color: var(--color-terciary-a);
  padding: 1rem 1rem 1rem 0rem;
  line-height: 5rem;
  margin-right: 1rem;
}

.information__subpoint__number {
  background-color: var(--color-terciary);
  padding: 1rem;
  margin-right: 1rem;
}

/* ESTILOS CONTACTO */
.contact__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.contact__textarea {
  width: 520px;
  height: 200px;
  font-size: 1.6rem;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 4rem;
  padding-top: 1rem;
  transition: all 300ms ease-in-out;
  resize: none;
  background-color: var(--color-secondary-a);
  color: var(--color-text);
  border: none;
}

.contact__textarea:focus {
  outline: none;
}

.contact__textarea::placeholder {
  color: var(--color-text);
}

.contact__name-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 2rem;
  width: auto;
  height: auto;
  margin-bottom: 70px;
}

.contact__name-email .account__field {
  margin: 0;
  padding: 0;
}

.contact__name-email .account__field:last-of-type {
  margin: 0;
  padding: 0;
}

.contact__textarea__label {
  position: absolute;
  top: 0;
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: 520px;
  height: 50px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  opacity: 0;
  font-size: 2.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.contact__textarea:not(.contact__textarea:placeholder-shown)
  ~ .contact__textarea__label {
  transform: translateY(-50px);
  opacity: 1;
  z-index: 1;
}

/*ESTILOS ACCOUNT*/
.account__container,
.concurso__container,
.contact__container,
.about__container {
  width: 100%;
  height: calc(100vh - 90px);
  padding: 5rem;
}

.account__content,
.concurso__content,
.information__content {
  width: 100%;
  height: 100%;
  /* background-color: var(--color-secondary-a); */
  overflow: hidden;
  padding-top: 4rem;
}

.account__article-login {
  width: 100%;
  height: 100%;
}

.account__register__title-login {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--color-secondary-a),
    var(--color-terciary-a)
  );
}

.concurso__title,
.information__title,
.cars__title {
  background: linear-gradient(
    90deg,
    var(--color-secondary-a),
    var(--color-terciary-a)
  );
}

.account__title {
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.account__title,
.concurso__title,
.information__title {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: var(--color-text);
  text-align: center;
  position: relative;
  text-shadow: 0px 0px 10px var(--color-text-a);
}

.page__title-container {
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  position: relative;
  animation: pageTitleShow 500ms ease-in-out both;
}

@keyframes pageTitleShow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.page__title-text {
  position: absolute;
  top: 40px;
  left: 0;
  width: 400px;
  height: 100%;
  text-shadow: 0px 0px 10px var(--color-text-a);
}

.page__title {
  background: linear-gradient(
    90deg,
    var(--color-secondary-a),
    var(--color-terciary-a)
  );
  font-size: 2.5rem;
  color: var(--color-text);
  text-align: right;
  padding: 1.5rem 8rem;
  clip-path: polygon(0px 0%, 400px 0%, 370px 100%, 0px 100%);
}

.account__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.account__article-register {
  height: 100%;
  width: 100%;
}

.account__login-container {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.account__field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.account__field:last-of-type {
  margin-bottom: 20px;
}

.account__field .account__label {
  position: absolute;
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: 250px;
  height: 50px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  opacity: 0;
  font-size: 2.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.account__input:not(.account__input:placeholder-shown) ~ .account__label {
  transform: translateY(-50px);
  opacity: 1;
  z-index: 1;
}

.account__input {
  font-size: 1.6rem;
  display: inline-block;
  width: 250px;
  height: 50px;
  padding-left: 1rem;
  padding-right: 70px;
  transition: all 300ms ease-in-out;
  background-color: var(--color-secondary-a);
  color: var(--color-text);
  border: none;
  position: relative;
}

.account__input:focus {
  outline: none;
}

.account__input::placeholder {
  color: var(--color-text);
}

.account__input--error {
  color: var(--color-text);
  position: relative;
  background-color: var(--color-error-a);
  z-index: 1;
}

.date__input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date__input:invalid {
  color: white;
}

.date__input::placeholder {
  color: var(--color-text);
}

.date__input:valid ~ .account__label-date {
  transform: translateY(-50px);
  opacity: 1;
}

.account__label-date {
  position: absolute;
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: 250px;
  height: 50px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  opacity: 0;
  font-size: 2.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.account__btn {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  display: inline-block;
  width: 250px;
  height: 50px;
  border: solid 1px var(--color-terciary);
  background-color: var(--color-terciary);
  color: var(--color-text);
  /* border: solid 1px var(--color-text); */
  transition: all 300ms ease-in-out;
  position: relative;
  background: linear-gradient(
    90deg,
    var(--color-terciary-2),
    var(--color-terciary-3)
  );
}

.account__btn-login {
  margin-top: 2rem;
}

.account__btn::after {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: var(--color-secondary);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-terciary),
    var(--color-terciary-a),
    var(--color-text),
    var(--color-terciary-a),
    var(--color-terciary)
  );
  top: -2px;
  left: -2px;
  transition: all 300ms ease-in-out;
  animation: borderButton 2s linear infinite;
  z-index: -1;
}

@keyframes borderButton {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.account__btn:hover::after {
  /* width: 100%; */
}

.account__btn:hover,
.account__btn-option:hover {
  text-shadow: 0px 0px 5px var(--color-text);
  /* color: var(--color-primary);
  background-color: var(--color-text); */
}

.account__btn-option {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  display: inline-block;
  width: 250px;
  height: 50px;
  background-color: var(--color-terciary);
  color: var(--color-text);
  border: solid 1px var(--color-terciary);
  /* border: solid 1px var(--color-text); */
  transition: all 300ms ease-in-out;
  position: absolute;
  top: calc(50% - 25px);
  left: 15px;
  background: linear-gradient(
    90deg,
    var(--color-terciary-2),
    var(--color-terciary-3)
  );
  pointer-events: all;
}

.account__btn-option::after {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: var(--color-secondary);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-terciary),
    var(--color-terciary-a),
    var(--color-text),
    var(--color-terciary-a),
    var(--color-terciary)
  );
  top: -2px;
  left: -2px;
  transition: all 300ms ease-in-out;
  animation: borderButton 2s linear infinite;
}

.account__btn-option::after {
  z-index: -1;
}

.account__icon-container {
  background-color: var(--color-secondary);
  position: absolute;
  opacity: 1;
  right: calc(50% - 125px);
  width: 50px;
  height: 50px;
  transition: all 300ms ease-in-out;
  z-index: 99;
}

.account__input:focus + .account__icon-container {
  background-color: var(--color-input-focus);
}

.account__input:focus + .account__icon-container .account__icon {
  scale: 1.2;
}

.contact__icon-container {
  height: 100%;
  position: absolute;
  right: calc(50% - 260px);
}

.contact__textarea:focus + .contact__icon-container {
  background-color: var(--color-input-focus);
}

.contact__textarea:focus + .contact__icon-container .account__icon {
  scale: 1.2;
}

.contact__btn {
  width: 520px;
}

.account__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 14px;
  opacity: 0;
  pointer-events: none;
  fill: var(--color-text);
  z-index: 99;
  transition: all 300ms ease-in-out;
}

.account__icon--active {
  opacity: 1;
  pointer-events: all;
}

.account__icon--right {
  position: absolute;
  left: 220px;
}

.contact__icon--right {
  position: absolute;
  left: 480px;
}

.account__icon--left {
  left: 5px;
}

.register__path {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.path__option {
  cursor: pointer;
  width: 125px;
  padding: 1rem;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-text);
  position: relative;
  margin-right: 20px;
  background-color: var(--color-primary);
  transition: all 300ms ease-in-out;
  position: relative;
  border: solid 1px var(--color-terciary);
}

.path__option:hover {
  text-shadow: 0px 0px 5px var(--color-text);
}

.path__line {
  position: relative;
}

.path__line::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  width: 20px;
  height: 2px;
  background-color: var(--color-text);
}

.path__option--active {
  background-color: var(--color-terciary);
  background: linear-gradient(
    90deg,
    var(--color-terciary-3),
    var(--color-terciary-2)
  );
}

.account__register-forms {
  transition: 0.3s ease all;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.register-forms-child {
  min-width: 100%;
  max-width: 100%;
}

.account__register-container {
  height: 100%;
  max-width: 550px;
  margin: 0px auto;
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
  place-content: center;
}

.register__grid-one {
  grid-area: one;
}

.register__grid-two {
  grid-area: two;
}

.register__grid-three {
  grid-area: three;
}

.register__grid-four {
  grid-area: four;
}

.register__grid-five {
  grid-area: five;
}

.register__grid-six {
  grid-area: six;
  display: grid;
  place-content: center;
}

.register__grid-seven {
  grid-area: seven;
}

.register__grid-eight {
  grid-area: eight;
}

.account__register-container:last-of-type {
  /* margin-bottom: 40px; */
}

.register__field {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.register__field .account__label {
  position: absolute;
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: 250px;
  height: 50px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  opacity: 0;
  font-size: 2.2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

/* ESTILOS FOOTER */
.layout__footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--color-primary-a);
  border-top: solid 2px var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.footer__left {
  padding: 5rem;
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.footer__right {
  padding: 5rem;
  height: 100%;
  flex-basis: 50%;
}

.footer__right-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer__right-content {
  width: 100%;
  height: 100%;
}

.footer__title {
  font-size: 3rem;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.footer__item {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: var(--color-text);
}

.footer__bottom {
  position: absolute;
  padding: 2rem;
  width: 100%;
  bottom: 0;
  font-size: 2rem;
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 1rem;
}

.footer__nav-item {
  width: 100%;
  height: 100%;
}

.footer__nav-link {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--color-text);
  cursor: pointer;
  padding-bottom: 1rem;
  transition: all 300ms ease-in-out;
  position: relative;
}

.footer__nav-link::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-text);
  transition: all 300ms ease-in-out;
}

.footer__nav-link::before {
  position: absolute;
  content: "";
  bottom: 10px;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-text);
  transition: all 300ms ease-in-out;
}

.footer__nav-link:hover::after {
  width: 100%;
}

.footer__nav-link:hover::before {
  width: 100%;
}

.footer__link {
  color: var(--color-text);
  position: relative;
}

.footer__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-text);
  transition: all 300ms ease-in-out;
}

.footer__link::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color-text);
  transition: all 300ms ease-in-out;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__link:hover::before {
  width: 100%;
}

/* ESTILOS CANVAS */
.canvas__configuration {
  position: absolute;
  top: -220px;
  left: 0px;
  cursor: pointer;
  z-index: 99;
}

.canvas__menu {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: var(--color-terciary-a);
  z-index: 0;
  transition: all 300ms ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem 5rem;
}

.canvas__icon {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
  fill: var(--color-text);
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.canvas__menu--active {
  opacity: 1;
  transform: translateY(-65px);
}

.canvas__menu-label {
  text-align: center;
}

/* ESTILOS COCHES */
.cars__container {
  width: 100%;
  min-height: calc(100vh - 90px);
  height: 100%;
  padding: 5rem;
}

.cars__list {
  height: 100%;
  width: 100%;
  margin-top: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rem 5rem;
}

.cars__car {
  height: 400px;
  width: 450px;
  position: relative;
  background-color: var(--bg-container);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car__title {
  margin-top: 8rem;
  font-size: 2.5rem;
  font-weight: bolder;
  width: 100%;
  color: var(--color-text);
  text-align: center;
}

.car__specs {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-clip: content-box;
}

.circle__specs {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  background: conic-gradient(
    from 0deg,
    var(--color-secondary),
    var(--color-terciary) var(--specs-value, 0),
    var(--color-primary) 0
  );
  box-shadow: 2px 2px 15px 1px var(--bg-container);
}

.circle__specs::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: 15px;
  left: 15px;
  background-color: var(--color-circle-inside);
}

.car__specs-label {
  font-size: 1.7rem;
  color: var(--color-subtitle);
}

.car__specs-value {
  position: absolute;
  font-size: 1.8rem;
  color: var(--color-subtitle);
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.car__specs-info {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.car__img-container {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100%;
}

.car__img {
  max-width: 100%;
}

.car__price {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--color-subtitle);
}

.car__btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.car__link {
  display: inline-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ESTILOS ABOUT */
.about__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-text);
}

.about__container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about__data {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
